<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title of my web page</title>
    <link rel="stylesheet" type="text/css" href="sample_style.css">
</head>
<body>
<h1>First<strong>Another</strong></h1>
<h2>Second</h2>
<h3 style="color: blue; border: 15px solid green;">Third</h3>
<div class="big">
    <h4 class="green">Forth</h4>
    <h5>Fifth</h5>
    <h6 class="green big">Sixth</h6>
    <p id="user">Piotr Solarski</p>
    <p>Adrianna Solarska</p>
</div>
<p>This <em>really </em>is a <strong>strong </strong>text</p>
<p>And this is another line</p>
<ul>
    <li>First item</li>
    <li>Second item</li>
</ul>
<a href="http://www.google.com">googlooooooe</a>
<img src="https://www.programming-hero.com/assets/img/mobile-moc/galaxies.png" alt="Sample"/>

</body>
<footer>
    <p>Footer</p>
</footer>
</html>